.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 100vw;
    overflow-y: hidden;
}
.cartContainer table{
    max-width: 100%;
    overflow-x: auto;
}

.btn{
    border: none;
    background-color: rgba(255, 166, 0, 0.598);
    color: white;
    border-radius: .5rem;
    transition: all .45s;
}
.btn:hover{
    background-color: orange;
}

.qtyContainer{
    display: flex;
    gap: .25rem;
    justify-content: center;
    width: 100%;
}
.qtyContainer input{
    border-radius: .5rem;
    border-color: orange;
    background-color: transparent;
}

.btn.outline{
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
}

.subtotalContainer{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
    gap:1rem;
}