.error{
    color: red;
}

.productsGrid{
    max-width: 100vw;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
}
.productsGrid img{
    max-width: 250px;
}