
.navbarContainer{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem auto;
    align-items: center;
    margin: 0 auto;
}
h1,ul{
    padding: 0;
    margin: 0;
}
.links{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
a{
    color: white
}